.container{
    border: 2px solid black;
    margin-top:15%;
    margin-left:20%;
    text-align: center;
    background: url("/Users/brittany/Desktop/city background.png");
    background-position: 0px 0px;
    background-size: contain;
    background-repeat: repeat-x;
    /* background: url("/Users/brittany/Desktop/city background.png"); */
    height: 500px;
    width: 800px;
    
    
    
}

.city {
    animation: animaontainer 120s liner infinite
}
@keyframes animar_city { 
    from{background-position: 0 0;
    }
    to{ background-position: 100% ;}
}

  
.dog {
    position: relative;
    top: 40%;
    height: 200px;
    width: calc(1745px / 4);
    background: url(/Users/brittany/Downloads/sprite-thepix-animation-walk-cycle-dog-running-sheet-c435781797adf88c596fed47c7d36449.png);

    animation: animateDog 1s steps(4) infinite;

}

@keyframes animateDog{
  from{
    background-position: 0 ;
  }
  to{
    background-position: 1745px;
  }
}

.rock{
    
    left: 50%;
    height: 80px;
    width: 80px;
    display: inline-block;
    background-image: url("");
    background-size: cover;
}

.score{
  text-align: center;

}